
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.card-box{
    display: flex;
    justify-content: space-between;
    
}

.card{
    background-color: #65a30d;
    padding: 20px;
    width: 250px;
}

.date{
    font-style: italic;
    color: #f7fee7;

}